@model ElectroMVC.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container" id="container">
    <div class="form-container sign-up">
        <form>
            <h1>Tạo tài khoản</h1>
            <a href="/Account/Register">Đăng ký</a>
        </form>
    </div>
    <div class="form-container sign-in">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
        {
            @Html.AntiForgeryToken()

            <h1>Đăng nhập</h1>

            @*<div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>*@

            <span>sử dụng tài khoản đã đăng ký</span>

            <div class="input-group mb-3">
                <input type="email" asp-for="UserName" class="form-control" placeholder="Tài khoản" required />
                <div class="input-group-append">
                    <!--<div class="input-group-text">-->
                    @*<span class="fas fa-user"></span>*@
                    <!--</div>-->
                </div>
                <div class="invalid-feedback">
                    Nhập tài khoản
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="Mật khẩu" required />
                <div class="input-group-append">
                    <!--<div class="input-group-text">-->
                    @*<span class="fas fa-lock" id="togglePassword"></span>*@
                    <!--</div>-->
                </div>
                <div class="invalid-feedback">
                    Nhập mật khẩu
                </div>
            </div>

            <div class="row">
                @*<div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" asp-for="RememberMe" />
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>*@
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>
        }
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Đăng nhập với tài khoản đã đăng ký</p>
                <button class="hidden" id="login">Đăng nhập</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello!</h1>
                <p>Đăng ký tài khoản mới</p>
                <button class="hidden" id="register">Đăng ký</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>// Toggle password visibility
        var passwordInput = document.getElementById("passwordInput");
        var togglePassword = document.getElementById("togglePassword");

        togglePassword.addEventListener("click", function () {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        });</script>
}
